# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore IntelliJ artifacts
.idea

# Ignore benchmarking data
ghProjectInfo2013-Feb.txt.bz2

# Ignore pprof artifacts
*.prof